<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moviemain/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <aside>
        <img src="{% static 'moviemain/img/lenta.png'%}" alt="Логотип">
        <span class="logo">KINOSITE</span>
        <h3>Навигация</h3>
        <u>
            <a href=""><li><i class="bi bi-house-door-fill"></i>Главная</li></a>
            <a href=""><li><i class="bi bi-film"></i>Про нас</li></a>
            <a href=""><li><i class="bi bi-journals"></i>Контакты</li></a>
        </u>

    </aside>
    <main>
        {% block cont %}
    <h1>{{ title }}</h1>
    <p>Подзаголовок</p>
    {% for el in info %}
        <p>{{ el }}</p>
    {% endfor %}

    {{ info.genre }}
    <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить запись</button></li></a>
    <a class="redirect" href="/actors">Попасть на Актеры</a>

    {% endblock %}

    </main>


</body>
</html>